#vector-map {
	background:#223547;
    width: 100%;
    left:100px;
    height: 400px;
    display: block;
    background-image: url("https://i.pinimg.com/originals/c9/b7/60/c9b7600c6075039fddb6e1e1993daede.gif");
}

#vector-map-demo {

    background-image: url("https://i.pinimg.com/originals/c9/b7/60/c9b7600c6075039fddb6e1e1993daede.gif");
}
#sidebar{
    background:#223547;
    width:50px;
    height:100%;
    display:block;
    position:absolute;
    left:0px;
    top:70px;
    text-align: left;
}
#sidebar ul li:hover ul{
    display: inline-block;
}

#deskMenu{
    display:none;
    position: absolute;
    padding: 50px 28px;
     background-color: #223547;
}

#sidebar ul #Proj:hover ul {
    display: inline-block;
}

#ProjectSubMenu {
    display:none;
    position: absolute;
    padding: 50px 28px;
    color: white;
     background-color: #223547;
     
}

/*#ProjectSubMenu:hover #CreateProj {
     display: inline-block;
}*/

#CreateProjectList{
    display: inline-block;
    position: absolute;
    padding: 50px 50px;
    color: white;
     background-color: #223547;
}

#PeopleSub{
	 display:none;
    position: absolute;
    padding: 50px 70px;
    color: white;
     background-color: #223547;
}

#FloorplanSub{
	 display:none;
    position: absolute;
    padding: 50px 70px;
    color: white;
     background-color: #223547;
}

#Type {
    display: inline;
}

#sidebarRight{
    background:#223547;
    width:200px;
    height:100%;
    display:block;
    position:absolute;
    right:0px;
    top:70px;
	text-align: right;
}
#ExportButton{
    background-color: #1BD9C4;
    width:100%;
}


ul{
    margin:0px;
	padding-bottom: 10px;
	text-decoration: none;
	border-style: solid;
    border-width: 1px;
	border-color: #1BD9C4;
}
ul li{
	padding-bottom: 10px;
    list-style:none;
	text-decoration: none;
}
ul li a{
    color:#ffffff;
	text-decoration: none;
	padding-bottom: 10px;
}
nav{
   width:100%;
   background:#223547; 
}

#topMenuUl{
	background:#223547;
    width:89%;
    margin: 0 auto;
    padding: 0;   
}
#topMenuUl li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    position:relative;
}
#topMenuUl li a{
    display: block;
    padding: 24px 14px; 
}

#FloorDrop {
    
    display:none;
    position: absolute;
    margin: 0x;
    padding: 0;
    float: left;
    background-color: #fff;
    
}

#topMenuUl li:hover ul{
    display: block;
}
/*#FloorDrop:hover ul{
    
    display:block;
     position: absolute;
    margin: 0x;
    padding: 0;
    float: left;
    background-color: #fff;
    
    
}*/

#FloorDrop li {
    list-style: none;
    color: black;
    width: 180px; 
}
#FloorDrop li a {
    color: black;
    padding: 12px 14px;
}
#FloorDrop li a:hover {
    color: black;
    padding: 12px 14px;
    background-color: grey;
}

body{
    background-image: url("http://exchangedownloads.smarttech.com/public/content/23/23632dac-9e95-4bfd-95be-fda964b17ae8/previews/medium/0001.png");
}
  #draggable, #divResize { 
      width: 88px; 
      height: 67px; 
      padding: 0.5em; 
/*      background-color: green;*/
      background-image: url("https://78.media.tumblr.com/f3aac4996df58eac683a3c7065febb00/tumblr_ozj4w6Xoq41wstv1oo1_250.png");
  }

  #HQsecond {
      marin-top: 100px; 
      margin-left: 100px;
  }

  /*Dynamic Search*/
  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 70%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px 20px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}