#sidebar {
  height: calc(100vh);
}
/*used to be 100vh - 52px*/
#right-sidebar {
  position: absolute;
  top: 52;
  right: 0;
  height: calc(100vh);
}

rect:hover{
	fill-opacity: 0.10;
}

path:hover{
	fill-opacity: 0.10;
}