#sidebar {
  min-height: calc(100vh);
  height: 100%;
}

#right-sidebar {
    position: absolute;
    right: 0;
    min-height: calc(100vh);
    height: 100%;
    min-width: 225px;
    max-width: 225px;
    background: #223547;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

/* styling for input fields */
input[type=text], select {
    width: 200px;
    padding: 2px;
    color: black;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #375172;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #375172;
}

#deskMenu{
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #223547;
    text-decoration: none;
}

#deskMenu li{
    list-style: none;
    margin-left: none;
    padding: 0px;
    text-align: left;
}

#deskMenu li a {
    text-align: left;
    padding-left: 0px !important;
}

#deskSubMenu{
    list-style: none;
    padding: 0px;
}

#DeskInfoMenu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.room{
    position:absolute;
    margin:0px;
    min-width:40px;
    min-height:40px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border:2px dashed grey;
    z-index:100;
}

.room:hover{
    /*background-color: rgba(27, 217, 176, 0.3);*/
    background-color: rgba(43, 53, 71, 0.2);
}
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:12px;
    width:12px;
    padding: 0 0 5px 0;
    text-align:center;
    font-size:10px;
    color:white;
    background-color:darkblue;
    z-index:100;
    visibility: hidden;
}

.cancel:hover{
    background-color:red;
    color: white;
    font-weight: bold;
}

.deleteDeskButton{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:12px;
    width:12px;
    padding: 0 0 5px 0;
    text-align:center;
    font-size:10px;
    color:white;
    background-color:darkblue;
    z-index:1001;
    visibility: hidden;
}

.deleteDeskButton:hover{
    background-color:red;
    color: white;
    font-weight: bold;
}

.ui-selected > .innerDesk > .deleteDeskButton{
    visibility: visible;
}

.ui-rotatable-handle{
    z-index: 1000;
}

.desk{
    flex: auto;
    flex-direction: column;
}

.color-square{
    width: 8px;
    height: 8px;
    display: inline-block;
    /*float: right;*/
    margin-right: 10px;
    margin-left: 5px;
}

div.sp-replacer{
    margin-right: 10px;
    background-color: rgba(255, 255, 255,.2);
}

.set-color-button{
    float: right;
    margin-top: 3px;
    height: 22px;
    width: 40px;
    font-size: 8pt;
    text-align: center;
    color: whitesmoke;
    background: transparent;
    border-radius: 3px;
    border: 2px solid #375172;
    /*background-color: #f0ad4e;*/
    /*background-color: rgba(240,173,78,1.0);*/
}

.set-color-button:hover{
    /*background-color: rgba(240,173,78,0.9);*/
    background-color: #f0ad4e;
}

#ExportButton{
    width:  75%
}

.desk-proj-color{
    margin: 2px;
    border-bottom: 2px solid lightgrey;
}

#floorplanSubMenu{
    background-color: #223547;
    border: 3px solid #223547;
}


#floorplanSubMenu ul{
    padding-left: 0px;
    cursor: pointer;
}

#floorplanSubMenu > li > a{
    background-color: #375172;
}

#floorplanSubMenu li ul li{
    color: #fff;
    background-color: #223547;
    padding: 10px;
    list-style: none;
}

#floorplanSubMenu li ul li:hover{
    color: #223547;
    background-color: #fff;
    padding: 10px;
    list-style: none;
}

/* DEPRECATED WITH PROJECT SELECT MENU
#deskProjectButton{
    margin: 10px 20px 10px 0px;
    width: 75%;
}

#deskProjectDropdown{
    position: relative;
    top: unset;
    left: unset;
    min-width: unset;
    min-width: 75%;
    margin-bottom: 10px;
    margin-top: -10px;
    border-bottom: 2px solid white;
}

#deskProjectDropdown.dropdown-menu > a.dropdown-item{
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 1px;
    background-color: whitesmoke;
    color: black;
}

#deskProjectDropdown.dropdown-menu > a.dropdown-item:hover{
    background-color: lightgrey;
}*/


/*.desk-proj-color{
    margin-top: 5px;
    width: 12px;
    height: 12px;
    float: right;
    border: 1px solid white;
}*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*height: calc(~"100vh - 45px"); -- done in Less */
    background: #223547;
    color: #fff;
    transition: all 0.3s;
    cursor: default;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    /*margin-left: -250px; -- use if making disappear entirely when toggling*/
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}
/*thins out the collapsed sidebar*/
#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1BD9C4;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 2px solid #223547;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #223547;
    background: #FFF;
}

/*inner SUBMENU items are not highlighted */
#sidebar > ul > li > ul > li > a:hover {
    color: #fff;
    background: #223547;
    cursor: default;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #FFF;
    background: #375172;
}
#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px;
    color: #fff;
    background: #223547;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}

#main{
    margin-top: 20px;
    display: block;
    min-width: 900px;
    min-height: 600px;
    width: calc(100vw - 480px);
}

#sidebarCollapse{
    float: left;
    margin-bottom: 10px;
}

#right-main{
    position: absolute;
    right: 125px;
    transition: 0.3s;
    z-index: 1;
}

#right-main.active{
    position: absolute;
    right: 225px;
    transition: 0.3s;
}

#rightSidebarCollapse{
    /* float: right; */
    margin-bottom: 10px;
    z-index: 1;
}

.navbar{
    margin-bottom: 0px;
    color: #fff;
    background: #375172;
    border-bottom: 2px solid #223547;
    border-radius: 0px;
}

.navbar ul li a:hover {
    color: #223547;
    background: #FFF;
}

.navbar ul li a[aria-expanded="true"] {
    color: #FFF;
    background: #223547;
}

/* right side of top navbar */
ul.nav.navbar-nav.navbar-right{
/*    color: #FFF;
    background: #223547;*/
}

.nav .open > a, .nav .open > a:focus, .nav .open >
.navbar-header{
    color: #fff;
    background: #223547;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    background: #223547;
}

.dropdown-menu > li > a {
    color: #fff;
    background: #223547;
}

.dropdown-menu {
    padding: 0px;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#right-sidebar.active {
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}

/*thins out the collapsed sidebar*/
#right-sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#right-sidebar.active ul li a i {
    margin-left:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#right-sidebar.active ul ul a {
    padding: 10px !important;
}

#right-sidebar .sidebar-header {
    padding: 20px;
    background: #1BD9C4;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#right-sidebar .sidebar-header strong {
    display: none;
}
#right-sidebar.active .sidebar-header h3 {
    display: none;
}
#right-sidebar.active .sidebar-header strong {
    display: block;
}

#right-sidebar ul.components {
    padding: 10px 0;
    border-bottom: 2px solid #223547;
}

#right-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#right-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#right-sidebar ul li a:hover {
    color: #223547;
    background: #FFF;
}

#right-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #FFF;
    background: #375172;
    cursor: pointer;
}
#right-sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
    color: #fff;
    background: #223547;
}

#right-sidebar a[data-toggle="collapse"] {
    position: relative;
}

#right-sidebar a[aria-expanded="false"]::before, #right-sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#right-sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}

.shrink{
    -webkit-transform:scale(0.90);
    -moz-transform:scale(0.90);
    -ms-transform:scale(0.90);
    transform:scale(0.90);
}

/** adjust later for smaller devices*/
@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }

    #right-sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #right-sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #right-sidebar .sidebar-header strong {
        display: none;
    }
    #right-sidebar.active .sidebar-header h3 {
        display: none;
    }
    #right-sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #right-sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #right-sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #right-sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    #right-sidebar.active a[aria-expanded="false"]::before, #right-sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }
    #HQsubFloor{
        color: #fff;
        background: #223547;
        
    }
    
}

.deskCount {
    position:absolute;
    bottom:0;
    right:0;
}

/* .desk {
    position: element(#HQFloor1);
    transform: translateY(-100%);
} */

    
.ui-selected {
    box-shadow:0 0 10px 5px #f0ad4e;
 }   

 .personDeleteButton{
     float: right;
     margin-left: 5px;
     color: #375172;
     background: #223547;
     font-size: 8pt;
     padding: 2px;
     border: 0pt solid;
     border-radius: 3px;
 }

 .personDeleteButton:hover{
    color: #223547;
    background: #f0ad4e;
}

.projectDeleteButton{
    float: right;
    margin-left: 5px;
    color: #375172;
    background: #223547;
    font-size: 8pt;
    padding: 2px;
    border: 0pt solid;
    border-radius: 3px;
}

.projectDeleteButton:hover{
    color: #223547;
    background: #f0ad4e;
}

.floorDeleteButton{
    float: right;
    margin-left: 5px;
    color: #375172;
    background: #223547;
    font-size: 8pt;
    padding: 2px;
    border: 0pt solid;
    border-radius: 3px;
}

.floorDeleteButton:hover{
    color: #223547;
    background: #f0ad4e;
}

ul#floorplanSubMenu > li > a {
    padding: 10px;
}

.selectedDeskType {
    border: 4px solid gold;
    border-radius: 3px;
}

ul.typeahead.dropdown-menu > li > a:hover {
    cursor: pointer;
}

ul#activeDeskSubmenu > li > a > div > div > ul > li > a{
    background: #375172;
    color: white;
    border:2px solid #223547;
}

#labelFloorPlan{
    display: inline;
}

.deskText {
    font: 10pt;
    color: black;
    z-index: -1;
    position: absolute;
    margin-top: 5px;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#peopleSubMenu{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
#projectSubMenu{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}