#sidebar {
  height: calc(100vh);
}
/*used to be 100vh - 52px*/
#right-sidebar {
    position: absolute;
/*    top: 52;*/
    float: right;
    right: 0;
    height: calc(100vh);
}

/* styling for input fields */
input[type=text], select {
    width: 200px;
    padding: 2px;
    color: black;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #375172;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #375172;
}

#deskMenu{
    list-style: none
    /*display:inline-block;*/
   /* position: absolute;*/
    padding: 10px;
/*    margin-left: inherit;*/
    margin-top: 10px;
    margin-bottom: 10px;
     background-color: #223547;
     text-decoration: none
     
}

#deskMenu li{
    list-style: none;
    margin-left: none;
    padding: 0px;
    text-align: left;
}

#deskMenu li a {
    text-align: left;
    padding-left: 0px !important;
}

#deskSubMenu{
    list-style: none;
    padding: 0px;
}

#DeskInfoMenu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.room{
    position:absolute;
    margin:0px;
    min-width:40px;
    min-height:40px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border:2px dashed grey;
    z-index:100;
}

.room:hover{
    /*background-color: rgba(27, 217, 176, 0.3);*/
    background-color: rgba(43, 53, 71, 0.2);
}
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:12px;
    width:12px;
    padding: 0 0 5px 0;
    text-align:center;
    font-size:10px;
    color:white;
    background-color:darkblue;
    z-index:100;
    visibility: hidden;
}

.cancel:hover{
    background-color:red;
    color: white;
    font-weight: bold;
}

.desk{
    background-color: lightcoral;
    width: 50px;
    height: 30px;
    border: 2px solid dodgerblue;
}

.color-square{
    width: 8px;
    height: 8px;
    display: inline-block;
    /*float: right;*/
    margin-right: 10px;
    margin-left: 5px;
}

div.sp-replacer.sp-light{
    margin-right: 10px;
    background-color: rgba(255, 255, 255,.2);
}